
.app {
  height: 102vh;
  background: #4527a0;
  padding: 1em;
}

.main {
  margin-top: 3%
}

/* SidePanel.js */
.menu {
  padding-bottom: 2em;
}

/* SidePanel.js */
.meta {
  max-width: 500px;
}

/* Messages.js */
.chat__page {
  
}

.header {
  padding-left: 10%
}

.messages__container {
  max-width: 600px;
}

.messages {
  height: 68vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}


/* MessageForm.js */
.message__form {
  max-width: 600px;
  padding-left: 2%;
  padding-right: 2%;
}

.message__input {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-bottom: 10px;
  margin-left: 1px
}

/* Message.js */


.message__self {
  border-left: 2px solid rgba(119, 0, 255, 0.589);
  padding-left: 8px;
}

.message__image {
  padding: 1em;
}

/* ProgressBar.js */
.progress__bar {
  margin: 0.3em 0 0 1 !important;
}

/* ColorPanel.js */
.color__container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 35px;
  border-radius: 3px;
}

.color__square {
  width: 35px;
  height: 35px;
}

.color__overlay {
  width: 85px;
  height: 35px;
  transform: rotate(225deg);
}

/* Typing.js */
.user__typing {
  font-style: italic;
  font-size: 80%;
  font-weight: bold;
  margin-right: 3px;
}

.typing {
  width: 5em;
  height: 2em;
  position: relative;
  padding: 10px;
  margin-left: 5px;
  background: #e6e6e6;
  border-radius: 10px;
}

.typing__dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #8d8c91;
  border-radius: 50%;
  opacity: 0;
  animation: loadingFade 1s infinite;
}

.typing__dot:nth-child(1) {
  animation-delay: 0s;
}

.typing__dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing__dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

/* Skeleton.js */
.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(
    to left,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58, 57, 57, 0.3);
}

.skeleton__author {
  background-color: rgba(58, 57, 57, 0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58, 57, 57, 0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;
}

/* Iphone X, 6, 7, 8 */
@media only screen and (max-width: 600px) {
  .chat__page {
    margin-left: 0%
  }

  .main {
    margin-top: 12.5%
  }
}

/* WideScreen */
@media only screen and (min-width: 1900px) {
  .chat__page {
    margin-left: 0%
  }

  .main {
    margin-top: 2%
  }
}
